<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hola {{name}},</p>
        <p>Por favor haga click en enlace para validar su cuenta</p>
        <a href="{{link}}">VALIDAR</a>
    </body>
</html>