<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hola {{name}},</p>
        <p>Solicitaste un cambio de contraseña.</p>
        <p> Por favor , haga click en el enlace para continuar con el proceso .</p>
        <a href="{{link}}">CAMBIAR CONTRASEÑA</a>
    </body>
</html>